@keyframes point {
  50% {
    transform: translateY(-3px);
  }
}
@keyframes wiggle {
  33% {
    transform: rotate(3deg);
  }
  66% {
    transform: rotate(-3deg);
  }
}
@keyframes zoom {
  100% {
    transform: scale(1.3);
    opacity: 60%;
  }
}
body {
  margin: 0px;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.police_CLA {
  font-family: "Croissant One";
  font-size: 12px;
}
.police_ddp {
  font-family: "Dancing Script";
  font-size: 16px;
}
.police_ddp h1 {
  font-size: 5em;
}
.police_LNE {
  font-family: "Devonshire";
  font-size: 20px;
}
.police_PDG {
  font-family: "Kaushan Script";
  font-size: 15px;
}
.police_PDG h1 {
  font-size: 5em;
}
.police_menu {
  font-family: "Architects Daughter";
}
.police_menu_spe {
  font-family: "Noto Serif";
}

.header {
  background-color: #579c88;
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.header_logo {
  font-size: 7em;
  color: #fdcb46;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #579c88;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  font-size: 3em;
  color: #fdcb46;
  margin-left: 40px;
  margin-right: 40px;
}
.footer_logo:hover {
  animation: wiggle 0.1s linear infinite;
}
.footer_M-legal {
  justify-content: center;
}

.conteneur-carte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.carte {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0px grey;
  border: 1px solid grey;
  margin-bottom: 30px;
  padding-top: 30px;
  width: 75%;
  flex-direction: column;
}
.carte_MP {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.carte_MP_DT {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.carte_MP_DT dd {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
.carte_MP_DT dt {
  width: 70%;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-left: 10%;
}
.carte_MP ul {
  font-size: 1.5em;
  list-style: none;
  padding-left: 10%;
}
.carte_MP ul li {
  margin-bottom: 7px;
  margin-top: 7px;
}

.titre {
  font-size: 2.7em;
}
.titre_carte {
  font-size: 3.2em;
  margin-top: 10px;
}
.titre_Pcarte {
  font-size: 2.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, black 0%, black 2px, transparent 5px) no-repeat;
  display: inline;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.titre_Pcarte:hover {
  background-size: 100% 100%;
}
.titre_carte2 {
  font-size: 2.2em;
}

.dessin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dessin_G {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.dessin_D {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  transform: rotate(180deg);
  transform: rotatey(180deg);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0px grey;
  border: 1px solid grey;
  flex-direction: column;
  width: 45%;
  height: 700px;
  margin-top: 50px;
}
.nav_menu:hover .zoom {
  animation: zoom ease-in-out 0.5s forwards;
}
.nav_menu h2 {
  font-size: 3.5em;
  margin-top: 0.3em;
}
.nav_menu p {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 10px;
}

.prc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.prc_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c88;
  color: #fdcb46;
  font-size: 2.8em;
  width: 40%;
  height: 70px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.prc_btn:hover > .point1 {
  animation: point 0.5s ease-in-out infinite;
}
.prc_btn:hover .point2 {
  animation: point 0.5s ease-in-out 0.15s infinite;
}
.prc_btn:hover .point3 {
  animation: point 0.5s ease-in-out 0.3s infinite;
}

.point1, .point2, .point3 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: gray;
  margin-left: 10px;
  margin-top: 20px;
}

.police_CLA p {
  font-size: 2.6em;
}

@supports (mix-blend-mode: lighten) {
  .coul {
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .coul::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #c67412, #6e4ccc);
    pointer-events: none;
  }
  .coul::before {
    mix-blend-mode: screen;
  }
}
.coul_CLA1 {
  color: #c67412;
}
.coul_CLA1_anim-soul {
  background: linear-gradient(to top, #c67412 0%, #c67412 2px, transparent 5px) no-repeat;
  display: inline;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.coul_CLA1_anim-soul:hover {
  background-size: 100% 100%;
}
.coul_CLA_trait-1 {
  fill: #c67412;
}
.coul_CLA2 {
  color: #a56799;
}
.coul_CLA2_anim-soul {
  background: linear-gradient(to top, #a56799 0%, #a56799 2px, transparent 5px) no-repeat;
  display: inline;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.coul_CLA2_anim-soul:hover {
  background-size: 100% 100%;
}
.coul_CLA_trait-2 {
  fill: #a56799;
}
.coul_CLA3 {
  color: #6e4ccc;
}
.coul_CLA3_anim-soul {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 5px) no-repeat;
  display: inline;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.coul_CLA3_anim-soul:hover {
  background-size: 100% 100%;
}
.coul_CLA_trait-3 {
  fill: #6e4ccc;
}

.coul_LNE {
  color: #3d1319;
  background-color: #fcdfdb;
}
.coul_LNE path {
  fill: #3d1319;
}
.coul_LNE_anim-soul {
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 5px) no-repeat;
  display: inline;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.coul_LNE_anim-soul:hover {
  background-size: 100% 100%;
}

.musique {
  background: linear-gradient(to right, #f37579, #f6916a);
  -webkit-background-clip: text;
  color: transparent;
}
.musique_spe {
  margin: auto;
  margin-right: 20px;
}
.musique_menu {
  margin-bottom: 10px;
}

.P_P_LNE {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#Dgradiant {
  fill: url(#Grad_PDG);
}

.coul_degrade-1 {
  stop-color: #3d923a;
}
.coul_degrade-2 {
  stop-color: #95f833;
}
@supports (mix-blend-mode: lighten) {
  .coul_PDG {
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .coul_PDG::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #3d923a, #95f833);
    pointer-events: none;
  }
  .coul_PDG::before {
    mix-blend-mode: screen;
  }
}
.coul_PDG_index-menu {
  color: #72bf56;
}

@supports (mix-blend-mode: lighten) {
  .coul_DDP {
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .coul_DDP::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #0228dd, #229df9);
    pointer-events: none;
  }
  .coul_DDP::before {
    mix-blend-mode: screen;
  }
}
.coul_DDP_index-menus {
  color: #229df9;
}
.coul_DDP_trait-1 {
  fill: #0228dd;
}
.coul_DDP_trait-2 {
  fill: #0670f3;
}
.coul_DDP_trait-3 {
  fill: #229df9;
}

.mention_legal {
  font-size: 1.5em;
}
.mention_legal h2 {
  text-align: center;
}
.mention_legal p {
  margin-right: 40px;
  margin-left: 40px;
}

@media screen and (max-width: 1200px) {
  body {
    margin: auto;
    text-align: center;
  }

  /*header*/
  .header {
    height: 150px;
  }
  .header_logo {
    font-size: 5em;
  }

  /*footer*/
  .footer {
    height: 90px;
  }
  .footer_logo {
    font-size: 2.2em;
  }

  /* index */
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav_menu {
    width: 70%;
    max-width: 525px;
    height: 550px;
  }
  .nav_menu p {
    max-width: 75%;
  }

  .prc_btn {
    font-size: 1.8em;
    width: 50%;
  }

  /* menu */
  .titre_Pcarte {
    max-width: 50%;
  }

  .carte {
    width: 80%;
    align-items: center;
    padding-bottom: 0;
  }
  .carte_MP {
    margin: 0;
  }
  .carte_MP_DT {
    margin-bottom: 0;
  }

  dl {
    flex-direction: column;
    align-items: center;
  }

  dt {
    padding-right: 10%;
    width: 100%;
  }

  dd {
    padding-bottom: 30px;
    padding-top: 5px;
  }

  ul {
    padding-right: 10%;
  }

  li {
    padding-bottom: 20px;
  }

  .police_PDG h1, .police_ddp h1 {
    font-size: 4em;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: auto;
    text-align: center;
  }

  /*header*/
  .header {
    height: 150px;
  }
  .header_logo {
    font-size: 3em;
  }

  /*footer*/
  .footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 55px;
  }
  .footer_logo {
    font-size: 1.7em;
  }

  /* index */
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav_menu {
    width: 90%;
    max-width: 270px;
    height: 350px;
  }
  .nav_menu p {
    font-size: 1.7em;
    max-width: 80%;
  }
  .nav_menu h2 {
    font-size: 2em;
  }

  .prc_btn {
    width: 85%;
    font-size: 1.5em;
  }

  /* menu */
  .titre {
    font-size: 2em;
  }
  .titre_carte {
    font-size: 1.9em;
  }
  .titre_Pcarte {
    font-size: 1.5em;
    max-width: 42%;
  }
  .titre_carte2 {
    font-size: 1.6em;
  }

  .carte {
    width: 95%;
    align-items: center;
    padding-bottom: 0;
  }
  .carte_MP {
    margin: 0;
  }
  .carte_MP_DT {
    margin-bottom: 0;
  }

  dl {
    flex-direction: column;
    align-items: center;
  }

  dt {
    padding-right: 10%;
    width: 100%;
    font-size: 0.8em;
  }

  dd {
    padding-bottom: 30px;
    font-size: 0.8em;
    padding-top: 10px;
  }

  ul {
    padding-right: 10%;
  }

  li {
    padding-bottom: 20px;
    font-size: 0.8em;
  }

  .police_PDG h1, .police_ddp h1 {
    font-size: 2.5em;
    width: 80%;
  }

  .point1, .point2, .point3 {
    width: 9px;
    height: 9px;
    margin-top: 15px;
  }

  .mention_legal {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
