.coul{
    @include gradient-text($colour-CLA-prim, $colour-CLA-third, 'light');
    &_CLA1{
    color: $colour-CLA-prim;
        &_anim-soul{
            background: linear-gradient(to top, $colour-CLA-prim 0%, $colour-CLA-prim 2px, transparent 5px) no-repeat;
            @include anim-soul;
        }
    }&_CLA_trait-1{
        fill: $colour-CLA-prim;
    }&_CLA2{
        color: $colour-CLA-second;
        &_anim-soul{
            background: linear-gradient(to top, $colour-CLA-second 0%, $colour-CLA-second 2px, transparent 5px) no-repeat;
            @include anim-soul;
        }
    }&_CLA_trait-2{
        fill: $colour-CLA-second;
    }&_CLA3{
        color: $colour-CLA-third;
        &_anim-soul{
            background: linear-gradient(to top, $colour-CLA-third 0%, $colour-CLA-third 2px, transparent 5px) no-repeat;
            @include anim-soul;
        }
    }&_CLA_trait-3{
        fill: $colour-CLA-third;
    }
}