#Dgradiant {
    fill: url(#Grad_PDG);
}
.coul{
    &_degrade-1{
        stop-color: $colour_primary_PDG;
    }&_degrade-2{
        stop-color: $colour_second_PDG;
    }&_PDG{
            background: linear-gradient(to right,$colour_primary_PDG, $colour_second_PDG);
            @include transparent;
            &_index-menu{
                color: $colour_menus_PDG;
        }
    }
}