#Dgradiant {
    fill: url(#Grad_PDG);
}
.coul{
    &_1{
        stop-color: $colour_primary_PDG;
    }&_2{
        stop-color: $colour_second_PDG;
    }&_PDG{
            background: linear-gradient(to right,$colour_primary_PDG, $colour_second_PDG);
            @include transparent;
            &_menu{
                color: $colour_menus_PDG;
        }
    }
}