#Dgradiant {
    fill: url(#Grad_PDG);
}
.coul{
    &_degrade-1{
        stop-color: $colour_primary_PDG;
    }&_degrade-2{
        stop-color: $colour_second_PDG;
    }&_PDG{
            @include gradient-text($colour_primary_PDG, $colour_second_PDG, 'light');
            &_index-menu{
                color: $colour_menus_PDG;
        }
    }
}