 @media screen and (max-width: 1200px){
    body{
        margin: auto;
        text-align: center;
    }
    /*header*/
    .header{
        height: 150px;
        &_logo{
        font-size: 5em;
        }
    }
    /*footer*/
    .footer{
        height: 90px;
        &_logo{
            font-size: 2.2em;
        }
    }
    /* index */
    .nav{
        flex-direction: column;
        align-items: center;
        &_menu{
            width: 70%;
            height: 450px;
            & p{
                max-width: 75%;
            }
        }
    }

    .prc_btn{
        font-size: 1.8em;
        width: 50%;
    }

    /* menu */
    .titre_Pcarte{
        max-width: 50%;
    }

    .carte{
        width: 80%;
        align-items: center;
        padding-bottom: 0;
        &_MP{
            margin: 0;
            &_DT{
                margin-bottom: 0;
            }
        }
    }

    dl{
        flex-direction: column;
        align-items: center;
    }

    dt{
        padding-right: 10%;
        width: 100%;
    }

    dd{
        padding-bottom: 30px;
        padding-top: 5px;
    }

    ul{
        padding-right: 10%;
    }
    
    li{
        padding-bottom: 20px;
    }

    .police{
        &_PDG h1, &_ddp h1{
            font-size: 4em;
            width: 80%;
        }
    }
}