@media screen and (max-width: 700px){
    body{
        margin: auto;
        text-align: center;
    }
    /*header*/
    .header{
        height: 150px;
        &_logo{
        font-size: 3em;
        }
    }
    /*footer*/
    .footer{
        flex-direction: column;
        @include center;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 55px;
        &_logo{
            font-size: 1.7em;
        }
    }
    /* index */
    .nav{
        flex-direction: column;
        align-items: center;
        &_menu{
            width: 90%;
            height: 350px;
            & p{
                font-size: 1.7em;
                max-width: 80%;
            }& h2{
                font-size: 2em;
            }
        }
    }

    .prc_btn{
        width: 85%;
        font-size: 1.5em;

    }

    /* menu */
    .titre{
        font-size: 2em;
        &_carte{
            font-size: 1.9em;
        }&_Pcarte{
            font-size: 1.3em;
            max-width: 42%;
        }&_carte2{
            font-size: 1.6em;
        }
    }

    .carte{
        width: 95%;
        align-items: center;
        padding-bottom: 0;
        &_MP{
            margin: 0;
            &_DT{
                margin-bottom: 0;
            }
        }
    }

    dl{
        flex-direction: column;
        align-items: center;
    }

    dt{
        padding-right: 10%;
        width: 100%;
        font-size: 0.8em;
    }

    dd{
        padding-bottom: 30px;
        font-size: 0.8em;
        padding-top: 10px;
    }

    ul{
        padding-right: 10%;
    }
    
    li{
        margin-bottom: 30px;
        font-size: 0.8em;
    }

    .police{
        &_PDG h1, &_ddp h1{
            font-size: 2.5em;
            width: 80%;
        }
    }

    .point1, .point2, .point3{
        width: 9px;
        height: 9px;
        margin-top: 15px;
    }
}