@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin colour-logo{
    background-color: $colour-primary;
    color: $colour-logo;
}

@mixin ctr-box{
    box-shadow: 3px 3px 0px grey;
    border: 1px solid grey;
}

@mixin dessin {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

@mixin Rdessin{
    transform: rotate(180deg);
    transform: rotatey(180deg);
}

@mixin anim-point{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 10px;
    margin-top: 20px;
}

@mixin transparent{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin titre-geant{
    & h1{
        font-size: 5em;
    }
}

@mixin anim-soul{
    display: inline;
    background-size: 0 100%;
    transition: background-size .3s;
    &:hover{
        background-size: 100% 100%;
    }
}