$colour-primary: rgb(87,156,136);
$colour-logo: rgb(253,203,70);

$colour-CLA-prim: rgb(198, 116, 18);
$colour-CLA-second: rgb(165, 103, 153);
$colour-CLA-third: rgb(110, 76, 204);

$colour-primary-LNE: rgb(61, 19, 25);
$colour_deg1_LNE: rgb(243, 117, 121);
$colour_deg2_LNE: rgb(246,145,106);
$colour-spe-menu: rgb(252, 223, 219);

$colour_primary_PDG: rgb(61, 146, 58);
$colour_second_PDG: rgb(149, 248, 51);
$colour_menus_PDG: rgb(114, 191 , 86);

$colour_DDP_1: rgb(2, 40, 221);
$colour_DDP_2: rgb(6, 112, 243);
$colour_DDP_3: rgb(34, 157, 249);